<a href="https://colab.research.google.com/github/19teju/19A21A0512/blob/main/19A21A0512_TEJASRI_ELURI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON LAB EXERCISE PROGRAMS


```
 NAME   :Tejasri.Eluri
 REGD NO:19A21A0512
 SECTION:CSE-A
 LAB    :Python
```

1.sample program of python?

In [ ]:
a=10
b=51
print(a+b)
print(a*b)
print("welcome to PYTHON")

In [ ]:
##DISTANCE BETWEEN TWO POINTS##

import math
x1=int(input("enter value of x1:"))
x2=int(input("enter value of x2:"))
y1=int(input("enter value of y1:"))
y2=int(input("enter value of y2:"))
d=math.sqrt((x2-x1)**2)+((y2-y1)**2)
print("Distance between ({},{}) and ({},{}) points is {}:".format(x1,y1,x2,y2,d))

In [ ]:
## check the given number is even or not##

n=int(input("enter a number:"))
if n%2==0:
  print("given number is EVEN NUMBER")
else:
  print("given number is NOT EVEN NUMBER,it is ODD number")

In [ ]:
## DECIMAL EQUIVALENT ##

n=int(input("enter a number:"))
for i in range(2,n):
  de=1/i
  print("1/"+str(i)+"=",de)

In [ ]:
## NUMBER SEQUENCE ##

print("number sequence:")
num=[10,20,30,40,50]
for i in num:
  print(i)
print("\n\n")

##string sequence##
print("string sequence")
string=["sun","mon","5","375"]
for s in string:
  print(s)

number sequence:
10
20
30
40
50



string sequence
sun
mon
5
375

In [ ]:
## COUNTDOWN FROM N TO ZERO ##

n=int(input("enter a number:"))
while n>0:
  print(n)
  n-=1

In [ ]:
n1=int(input("enter starting number:"))
n2=int(input("enter ending number:"))
c=0
sum=0
st=" "
for i in range(n1,n2):
  state=True
  for i in range(2,i):
    if(i%j)==0:
      state=False
      break;
    if state=True:
      st+=" "+str(i)
      c+=1
      sum+=i
print("prime numbers in between",n1,"to",n2)
print(st)
print("total number of prime numbers",c)
print("sum of the prime numbers:",sum)

In [ ]:
## FIBONACCI SERIES ##

n=int(input("enter value of n:"))
a=0
b=1
c=a+b
st=" "
count=0
while c<n:
  st+=" "=str(c)
  a=b
  b=c
  c=a+b
  count+=1
print(st)
print("count fibonacci numbers:",count)